body, html, #root {
  background-color: #222336;
}


.sendToken{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  input{
    color: white;
  }
}

p{
  width: 100%;
  color: white;
  text-align: center;
  word-break: break-word;
}

.loadingContainer{
  background-color: rgb(13, 25, 54);
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
